@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet');
@font-face {
  font-family: GT Alpina;
  src: url("./fonts/GT Alpina/gt alpina ttf/GTAlpina-Rg.ttf");
}

/* base styles */
* {
  margin: 0px;
  font-family: 'GT Alpina';
  color: #333;
}

p {
  font-size: 22px;
}

.test-mark {
  background-color: red;
}

.logo {
  height: 10vh;
  padding-right: 35px;
}

.page-title {
  font-size: 35px;
  padding-bottom: 30px;
}

.home {
  padding: 10px;
}

.flex-wrap {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-around;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: auto;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2; 
  height: 8vw;
}

.navbar div {
  margin: auto;
  
  border: 0px solid black;
}

.navbar h1 {
  font-size: 4rem;
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
  padding: 5px;
  font: 20px;
}

.navbar .logo-main {
  margin: auto;
}

.navbar a {
  margin: 10px;
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color: #f1356d;
}

.speaker-list-short {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0.5vw;
}

.blog-preview {
  flex: 0 0 12.5%;
  margin-right: 10px;
}

.blog-preview:last-of-type {
  margin-right: 0;
}

.carousel-container {
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: flex-start;
}

.down-carrot {
  font-size: small;
}

.content {
  max-width: 95vw;
  margin: auto;
  padding: 20px;
}

.carousel-btn {
  margin-top: 0.7vw;
  box-sizing: border-box;
  height: 10vw;
}

.banner {
  background-image: url('./images/Nephi_banner.jpg');
  background-size: cover;
  height: min(45vw, 92vh);
}

.main-banner-text {
  padding-left: 1.5vw;
}




.speakerdetail-img {
  height: 100px;
  background-size: cover;
  display: block;
  border-radius: 50%;


}

.speaker-list-all {
  display: flex;
  flex-wrap: wrap;

}

.speaker-list-all h4 {
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

.speaker-preview-2 {
  border:#333;
  padding: 25px;

}

.speaker-name-wordcount {
  display: flex;
  flex-wrap: wrap;
  justify-content:first baseline;
  font-size: 12px;
}

.speaker-name-wordcount h4:last-of-type {
  margin-left: auto;
}

.speakerall-img {
  height: 200px;
}

.content-toolbox {
  display: flex;
  flex-wrap: wrap;
}

.toolbox-item {
  padding: 40px;
  height: 250px;
  width: 300px;
}

.toolbox-item img {
  object-fit: cover;
  height: 250px;
  width: 300px;
  object-position: right top;
}

.navbar-expanded-menu {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.nav-expansion {
  padding: 0.1vw;
  margin: 0px;
}

.collapsible .content {
  padding: 6px;
  background-color: #eeeeee;
}
.collapsible .header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}