@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet');
@font-face {
  font-family: GT Alpina;
  src: url("./fonts/GT Alpina/gt alpina ttf/GTAlpina-Rg.ttf");
}
/* brand colors and other variables*/
:root {
  --primary-blue: #83B9F7;
  --primary-yellow: #E8E200;
  --primary-lavender: #DCB8F6;
  --primary-orange: #FF7700;
  --primary-pink: #FF80B8;

  --secondary-blue-light: #2A85F4;
  --secondary-blue-med: #265992;
  --secondary-blue-dark: #1A3251;

  --secondary-green-light: #8BD392;
  --secondary-green-med: #269375;
  --secondary-green-dark: #004C4F;
  
  --secondary-purple-light: #EEE3FF;
  --secondary-purple-med: #9A95E1;
  --secondary-purple-dark: #5C50BD;

  --secondary-yellow-light: #F3E6BB; /*HEX ON BRAND GUIDELINES IS INCORRECT AND PRODUCES A LIGHT BLUE COLOR (TODO)*/
  --secondary-yellow-med: #FFCE45;
  --secondary-yellow-dark: #FF9E00;

  --secondary-pink-light: #FFE6FF;
  --secondary-pink-med: #FFB2E5;
  --secondary-pink-dark: #EA5FD8;

  --logo-height: 12vw;
  --min-logo-height-inches: 1;
}

/* base styles */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'GT Alpina';
  font-size: max(min(36px, 3vw), 16px);
  color: #333;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 0.75rem;
}

.test-mark {
  background-color: #83B9F7;
}

/* 
Since logo max height is: 1 inch
And logo display height is: 12vw
The minimum screen width to display the logo is: 1 * (100 / 12) inches.
This is 8.333 inches.
*/
@media (min-width: 8.333in) {
  .icon {
    display: none;
  }
  .logo {
    display: block;
  }
}

@media (max-width: 8.333in) {
  .icon {
    display: block;
  }
  .logo {
    display: none;
  }
}

.logo {
  height: var(--logo-height);
  padding: 20%; /*brand guidelines for spacing around logo*/
  box-sizing: border-box;
}

.icon {
  height: max(min(1in, 10vw), 64px);
  padding: 20%;
  box-sizing: border-box;
}

@media (max-height: 799px) {
  .icon {
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
}

.home {
  padding: 10px;
}

.flex-wrap {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-around;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content:space-around;
  max-width: auto;
  border-bottom: 1px solid #f2f2f2; 
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-header {
  padding: 1vw;
}

.nav-hamburger-menu {
  visibility: hidden;
  position: absolute;
  height: 1rem;
  width: 1.8rem;
  margin-left: 28vw;
  margin-right: max(2vw, 12px);
}

.hamburger-svg {
  height: 1rem;
}

@media (min-width: 1458px) {
  .nav-links {
    visibility: visible;
    position: relative;
  }
  .nav-hamburger-menu {
    visibility: hidden;
    position: absolute;
  }
}

@media (max-width: 1458px) {
  .nav-links {
    visibility: hidden;
    position: absolute;
  }
  .nav-hamburger-menu {
    visibility: visible;
    position: relative;
  }
}

.nav-title {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.navbar a {
  text-decoration: none;
  font-size: 0.7rem;
}

.navbar a:hover {
  color: #83B9F7;
}

.speaker-list-short {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0.5vw;
}

.blog-preview {
  flex: 0 0 12.5%;
  margin-right: 10px;
}

.blog-preview:last-of-type {
  margin-right: 0;
}

.carousel-container {
  width: 88vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: flex-start;
}

.carousel-btn-container {
  width: 10vw;
}

.down-carrot {
  font-size: small;
}

.content {
  max-width: 95vw;
  margin: auto;
  padding: 20px;
}

.carousel-btn {
  margin-top: 0.7vw;
  box-sizing: border-box;
  height: 10vw;
}

.banner {
  background-image: url('./images/Nephi_banner.jpg');
  background-size: cover;
  height: min(45vw, 92vh);
}

.main-banner-header {
  padding-left: 1.5vw;
}

.main-banner-text {
  padding-top: 1.5vw;
  padding-left: 7.4vw;
}

.main-banner-links {
  padding-top: 3.44vw;
}

.main-banner-link {
  padding-top: 0.25vw;
  padding-bottom:0.25vw;
  font-size: 0.8rem;
}


@media (min-width: 1330px) {
  .main-banner-links {
    display:block;
  }
}

@media (max-width: 1330px) {
  .main-banner-links {
    display: none;
  }
}

p.main-banner-text {
  padding-top: 2.1286vw;
}

@media (min-width: 1560px) {
  p.main-banner-text {
    padding-right: 35vw;
  }
}
@media (min-width: 1410px) and (max-width: 1560px) {
  p.main-banner-text {
    padding-right: 37vw;
  }
}
@media (min-width: 1352px) and (max-width: 1410px) {
  p.main-banner-text {
    padding-right: 41vw;
  }
}
@media (min-width: 1228px) and (max-width: 1352px) {
  p.main-banner-text {
    padding-right: 43vw;
  }
}
@media (min-width: 526px) and (max-width: 1228px) {
  p.main-banner-text {
    padding-right: 49vw;
  }
}

@media (min-width: 526px) {
  p.main-banner-text {
    display:block;
  }
  p.backup-banner-text {
    display: none;
  }
}

@media (max-width: 526px) {
  p.main-banner-text {
    display: none;
  }
  p.backup-banner-text {
    display: block;
    margin-right: 50vw;
  }
}

@media (max-width: 436px) {
  p.backup-banner-text {
    margin-right: 55vw;
  }
}

@media (max-width: 422px) {
  p.backup-banner-text {
    margin-right: 60vw;
  }
}

@media (max-width: 380px) {
  p.backup-banner-text {
    display: none;
  }
}

.speakerdetail-img {
  height: 100px;
  background-size: cover;
  display: block;
  border-radius: 50%;


}

.speaker-list-all {
  display: flex;
  flex-wrap: wrap;

}

.speaker-list-all h4 {
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

.speaker-carousel-label {
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
  font-size: 0.75rem;
}

.speaker-preview-2 {
  border:#333;
  padding: 25px;

}

.speaker-name-wordcount {
  display: flex;
  flex-wrap: wrap;
  justify-content:first baseline;
  font-size: 12px;
}

.speaker-name-wordcount h4:last-of-type {
  margin-left: auto;
}

.speakerall-img {
  height: 200px;
}

.content-toolbox {
  display: flex;
  flex-wrap: wrap;
}

.toolbox-item {
  padding: 40px;
  height: 250px;
  width: 300px;
}

.toolbox-item img {
  object-fit: cover;
  height: 250px;
  width: 300px;
  object-position: right top;
}

.navbar-expanded-menu {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.nav-expansion {
  padding: 0.1vw;
  margin: 0px;
}

.collapsible .content {
  padding: 6px;
  background-color: #eeeeee;
}
.collapsible .header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}

#home-side-image {
  clip: rect(0px, 100px, 0px, 100px);
}